.container-fluid{
    padding-left:0;
    padding-right:0;
}
.navbar-brand{
    padding-top:0;
    padding-bottom: 0;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:white;
}

.dropdown-menu{
    font-size: 1em;
    
    border-radius: 0;
    background: #0f1010;
    border:1px solid #424242;
}
.dropdown-item{
    font-size: 0.9em;
    color:white;
    padding:0.35rem 1.5rem;
}

a.text-light:hover {
    color:#e60875!important;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: white;
  background-color: #262728;
}

.dropdown-item.active, .dropdown-item:active {
 background-color: #262728;
}


/*select.form-control:focus::-ms-value {
  color: #495057;
  background-color: rgba(0,0,0,0.5);
}*/

form{}
.form-group label{text-transform: capitalize}
.form-control{
    font-size: 1em;
    font-weight: 500;
    color: #2d2c2c;
    border: 1px solid #b5b2b2;
    background-color: transparent;
    border-radius: 0;
    height: 2.200rem;
}
    .form-control:focus{outline:1px solid #0a2ea6;background-color: white; border-color: #b5b2b2;  box-shadow:none;}

/*** INPUT ******************************************************************************/
.form-group{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.form-control{
    font-family: 'GothamRoundedLight_21020','Nunito', sans-serif;
    font-size: 1em;
    background:transparent;
    border:0;
    border-radius:0;
    border-bottom: 1px solid #b96cec;
    color:white;
    caret-color: white;
    padding: .375rem 0;
}
    .form-control:focus{
         background:transparent;
         outline: 0;
         box-shadow:none;
         border-bottom: 2px solid #b96cec;
         color:white;
    }

.form-control::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-size: 1em;
  font-size: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-control::-moz-placeholder {
    color: white;
    opacity: 1;
    font-size: 1em;
    font-size: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control:-ms-input-placeholder {
    color: white;
    opacity: 1;
    font-size: 1em;
    font-size: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control::-ms-input-placeholder {
    color: white;
    opacity: 1;
    font-size: 1em;
    font-size: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control::placeholder {
    color: white;
    opacity: 1;
    font-size: 1em;
    font-size: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}


label{
    margin-bottom: 0;
}

